Django==6.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
django-cors-headers==4.9.0
python-decouple==3.8
stripe==15.1.0
numpy==2.4.6
pandas==3.0.3
joblib==1.5.3
onnxruntime==1.26.0
RapidFuzz==3.14.5
